<div class="container" >
<h1>Payment Details</h1>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Amount</th>
			<th>Reference code</th>
			<th>User</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%=  @payment.amount.to_f %></td>
			<%name1 = User.where(id: @payment.user_id).first.first_name%>
			<td><%=  @payment.payment_reference %></td>
			<td><%=  name1 %></td>
			<td><%=@payment.status%></td>
			<td>
				<%if !Payment.where("payment_reference =? AND status =?",@payment.payment_reference,"refund").present?%>
				<%= button_to "Cancel",payments_refund_path(:id=>@payment.id),data: { confirm: "Are you sure?" } ,class:"btn btn-danger" %>
				<%end%>
			</td>
			<td>
				<%if @payment.status =="refund"%>
				<% for_charges = Payment.where("payment_reference =? AND status =?",@payment.payment_reference,"paid")%>
				<%= (for_charges.first.amount.to_f - @payment.amount.to_f).round(2)%>
				<%end%>
			</td>
		</tr>
	</tbody>
</table>

<br>
</div>

