<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(https://www.bitlasoft.com/wp-content/uploads/sites/4/2020/09/pic-1.png);">
   <div class="container-fluid">
	<%= search_form_for @q do |f| %>
	<form>
      <div class="row  justify-content-center align-items-center d-flex text-center ">

	
		<div class="row">
			<div class="col">
				<%= f.search_field :starting_point_cont,class:"field form-control",placeholder:"From",id: "search_field1" %>
			</div>

			<div class="col">
				<%= f.search_field :destination_point_cont,class:"field form-control",placeholder:"To" ,id:"search_field2"%>
			</div>
			<div class="col">
				<%= f.date_field :travel_date,class:"field form-control",placeholder:"Date", min: Date.today %>
			</div>
			<div class="col">
				<%= f.submit "search",class: "btn btn-primary"%>
			</div>
		</div>
      </div>

	</form>
	<% end %>
</div>
    </section>		 

<!-- <script type="text/javascript">
$(document).submit(function() {

		$.ajax({    
		type: "GET",
		url: "buses/set_points",
		dataType: "json",
		data: { 
		"starting_point": $("#search_field1").val(),
		"destination_point": $("#search_field2").val()
		 },
		success: function(response){ 
			var obj = JSON.stringify(response);
			alert(obj);
		 $("#result").html(obj)     
		}

	});
});
</script> 
 -->