<div class="container">
<br>
<br>
<%if @buses.present?%> 
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>serial no</th>
			<th>starting point</th>
			<th>destination</th>
			<th>capacity</th>
			<th>reserved</th>
			<th>available</th>
			<th>fare</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<div class="card-group">
		<% @buses.each do |bus|%>
		<div class="card">
			<tr>
				<div class="card">
				<td><%= bus.serial_no%></td>
				<td><%= bus.starting_point%></td>
				<td><%= bus.destination_point%></td>
				<td><%= bus.capacity%></td>
				<td><%= bus.reserved%></td>
				<td><%= bus.available%></td>
				<td><%= bus.fare%></td>
				<td><%= link_to "reserve",reservations_new_path(:id=>bus.id),class:"btn btn-primary" %></td>
				</div>
			</tr>
		</div>
		<%end%>
	</div>
	</tbody>
</table>
<%else%>
<h3>Sorry!this stop services are not provided</h3>
<%end%>
</div>

