<div class="container">
<br>
<br>
<%if @buses.present?%> 
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>serial no</th>
			<th>starting point</th>
			<th>destination</th>
			<th>capacity</th>
			<th>reserved</th>
			<th><%=sort_link @q,:available, "Available"%></th>
			<th><%=sort_link @q,:fare, "Fare"%></th>
			<th><%=sort_link @q,:travel_date, "Date"%></th>
			<th>Time</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @buses.each do |bus|%>
			<tr>
				<td><%= bus.serial_no%></td>
				<td><%= bus.starting_point%></td>
				<td><%= bus.destination_point%></td>
				<td><%= bus.capacity%></td>
				<td><%= bus.reserved%></td>
				<td><%= bus.available%></td>
				<td><%= bus.fare%></td>
				<td><%= bus.travel_date.strftime("%m/%d/%Y")%></td>
				<td><%= bus.travel_date.strftime("%I:%M%p")%></td>
				<td>
					<%if bus.available != 0 && bus.travel_date> Time.now%>
					<%= link_to "Proceed to Book",reservations_new_path(:id=>bus.id),class:"btn btn-primary" %>
					<%end%>
				</td>
			</tr>
		<%end%>
	</tbody>
</table>
<%else%>
<h3>Sorry!this stop services are not provided</h3>
<%end%>
</div>

